<div class="col-lg-3 block">
  <%= image_tag picture.image.url, id: "picture_#{picture.id}" %><br>
  <span><%= picture.name %></span>
  <%= link_to "delete", picture, method: :delete %>
  <i></i>
</div>
