<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>名字</th>
        <th>地址</th>
      </tr>
      <% @addresses.each do |address| %>
      <tr>
          <td><%= address.id %></td>
          <td><%= address.name %></td>
          <td><%= address.title %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to "添加信息", new_address_path, remote: true %>
  </div>
</div>
