<div class="col-md-6 col-md-offset-3">
  <%= form_tag({ controller: 'addresses', action: :index }, method: :get, class: 'form-inline') do %>
    <%= select_tag :name, options_for_select(@addresses.map { |k| k.title }), class: 'form-control' %>
  <% end %>

  <%= link_to "添加", new_address_path, remote: true %>

</div>
