#picture {
  width: auto;
  height: 300px;
  overflow:hidden;
}
#paginator {
  label {
    line-height: 79px;
    float: right;
  }
}
.block {
  height: 140px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  span {
    position: absolute;
    bottom: 0;
    left: 5px;
    color: black;
    font-weight: bold;
  }
  img {
    height: 138px;
    width: 215px;
  }
  i {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    right: 0;
    bottom: 0;
    background: image-url("selected.gif") no-repeat right bottom;
    z-index: 99;
    display: none;
  }
}
.selected {
  border: 1px solid red;
  i {
    display: block;
  }
}
.green {
  background: green;
  color: white;
}
.fileUpload {
  position: relative;
  float: right;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
