<div id="flash">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>" role="alert" style="position: fixed;z-index: 100000000; width: 400px; margin-left: auto;margin-right: auto;left:0px; right:0px;">
      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
      <strong><%= value %></strong>
    </div>
  <% end %>
</div>
